@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');


body {
    font-family: 'Lobster', sans-serif;
    font-size: 20px;
    line-height: 1.5;
    margin: 0;
    background-color: #f4f4f4;
}

.container {
    width: 100%;
    margin: auto;
    overflow: hidden;
    
}


ul {
    margin: 0;
    list-style: circle;
}

#showcase {
    background-image: url("pablo-merchan-montes-Orz90t6o0e4-unsplash.jpg");
    height: 700px;
    background-size: cover;
    text-align: center;
    color:#fff
}

#showcase .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

#showcase h1 {
    font-size: 55px;
}

#showcase p {
    font-size: 20px;
}

